# - Indexing

In [5]:
# Make a string
a = "Samosa Pakora"
a

'Samosa Pakora'

In [6]:
# Lenth of indexing
len(a)

13

In [2]:
a[0]

'S'

In [3]:
a[3]

'a'

In [7]:
a[12]

'a'

In [8]:
a[10]

'o'

In [9]:
a[0:4]

'Samo'

In [10]:
a[0:5]

'Samos'

In [11]:
#Last index is exculusive
a[0:6]

'Samosa'

In [12]:
a[-2]

'r'

In [13]:
a[-6]

'P'

In [14]:
a[-1:6]

''

In [16]:
a[-6:-1]

'Pakor'

In [17]:
a[-6:13]

'Pakora'

In [18]:
food = "biryani"
food

'biryani'

# String Methods

In [19]:
food

'biryani'

In [20]:
len(food)

7

In [26]:
#capitalize every element
food.capitalize()

'Biryani'

In [23]:
#uppercase letters
food.upper()

'BIRYANI'

In [24]:
#lowercase letters
food.lower()

'biryani'

In [38]:
#replace
food.replace("b", "sh")

'shiryani'

In [39]:
#counting a specific alphabet in string
name ="I am learning jupyter notebook"
name

'I am learning jupyter notebook'

In [41]:
name.count("e")

3

In [42]:
name.count("o")

3

### Finding a index number in string

In [48]:
name ="baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [49]:
name.find("D")

17

In [50]:
name.find("a")

1

In [51]:
name.find("aa")

5

In [53]:
name.find("b")

0

In [54]:
# How to split string
food ="I Love Samosa, Pakora, Raita, Biryani and Karahi"
food

'I Love Samosa, Pakora, Raita, Biryani and Karahi'

In [55]:
food.split(",")

['I Love Samosa', ' Pakora', ' Raita', ' Biryani and Karahi']

# Basic Data Structures in Python
#### 1- Tuple
#### 2 - List
#### 3 - Dictionaries
#### 4 - Sets

## 1-Tuple
- ordered collections of elements
- enclosed in () round braces/ Paranthesis
- Different kind of element ca be stored
- onece element store you can not change them (unmutable)

In [57]:
tup1 = (1, "python", 2.5, True)
tup1

(1, 'python', 2.5, True)

In [58]:
type(tup1)

tuple

### - Indexing in tuple

In [59]:
tup1[0]

1

In [60]:
tup1[1]

'python'

In [61]:
tup1[3]

True

In [67]:
tup1[0:5]

(1, 'python', 2.5, True)

In [63]:
#last element is exculsive
tup1[0:3]

(1, 'python', 2.5)

In [68]:
#count of elements in tuple
len(tup1)

4

In [70]:
tup2 = (2, "babaAammar", 3.5, False)
tup2

(2, 'babaAammar', 3.5, False)

In [71]:
#concatinate (to add two tuple or more than 2) 
tup1 + tup2

(1, 'python', 2.5, True, 2, 'babaAammar', 3.5, False)

In [72]:
#repeat and concatinate
tup1*2 +tup2

(1, 'python', 2.5, True, 1, 'python', 2.5, True, 2, 'babaAammar', 3.5, False)

In [75]:
tup3 = (20, 30, 50, 60, 90, 100)
tup1

(20, 30, 50, 60, 90, 100)

In [76]:
#minmun
min(tup3)

20

In [77]:
#maximum
max(tup3)

100

In [78]:
#repeat only not multiple or addition , substration
tup3*2

(20, 30, 50, 60, 90, 100, 20, 30, 50, 60, 90, 100)

In [79]:
tup3+2

TypeError: can only concatenate tuple (not "int") to tuple

---

## 2 -Lists
- ordered collection of emelents
- elclosed in [ ] square braces/brackets
- Mutatable you can change the values

In [83]:
list1 = [2, "babaAammar",False]
list1

[2, 'babaAammar', False]

In [86]:
type(list1)

list

In [87]:
len(list1)

3

In [88]:
list1[2]

False

In [90]:
list2 = [3, 5, "Aammar", "codenics", 478, 53.2, False]

In [91]:
list1 + list2

[2, 'babaAammar', False, 3, 5, 'Aammar', 'codenics', 478, 53.2, False]

In [92]:
list1*2

[2, 'babaAammar', False, 2, 'babaAammar', False]

In [109]:
list1

[2, 'babaAammar', False]

In [108]:
list1.reverse()
list1

[2, 'babaAammar', False]

In [113]:
list1.append("Codenic youtube channel")
list1

[2,
 'babaAammar',
 False,
 'Codenic youtube channel',
 'Codenic youtube channel',
 'Codenic youtube channel']

In [118]:
list1.clear()
list1

[]

In [ ]:
list1.count()
#list count function assignment

In [134]:
list3 = [30,450,50,360,20,90,10,60,100]
list3

[30, 450, 50, 360, 20, 90, 10, 60, 100]

In [136]:
#sorting a list
list3.sort()
list3

[10, 20, 30, 50, 60, 90, 100, 360, 450]

In [137]:
list3*3

[10,
 20,
 30,
 50,
 60,
 90,
 100,
 360,
 450,
 10,
 20,
 30,
 50,
 60,
 90,
 100,
 360,
 450,
 10,
 20,
 30,
 50,
 60,
 90,
 100,
 360,
 450]

In [138]:
list1+list2

[3, 5, 'Aammar', 'codenics', 478, 53.2, False]

In [139]:
lists= list1+list2
lists

[3, 5, 'Aammar', 'codenics', 478, 53.2, False]

## 3- Dictionaries
- An unordered collection of elements
- Keys and Values
- curly braces or { }
- Mutable or changle the values

In [141]:
#food and Prices
food1 ={"samosa":20, "Pakora":10, "Raita":15, "Salaad":30, "Chicken Rolls":40}
food1

{'samosa': 20, 'Pakora': 10, 'Raita': 15, 'Salaad': 30, 'Chicken Rolls': 40}

In [142]:
type(food1)

dict

In [146]:
#extract data
keys1 = food1.keys()
keys1

dict_keys(['samosa', 'Pakora', 'Raita', 'Salaad', 'Chicken Rolls'])

In [147]:
values1 = food1.values()
values1

dict_values([20, 10, 15, 30, 40])

In [151]:
#adding new element
food1["Tikki"]=25
food1

{'samosa': 20,
 'Pakora': 10,
 'Raita': 15,
 'Salaad': 30,
 'Chicken Rolls': 40,
 'Tikki': 25}

In [154]:
#updating the values
food1["Tikki"]= 30
food1

{'samosa': 20,
 'Pakora': 10,
 'Raita': 15,
 'Salaad': 30,
 'Chicken Rolls': 40,
 'Tikki': 30}

In [155]:
food2 ={"Dates":50, "Chocolates":200, "Swayyan":1000}
food2

{'Dates': 50, 'Chocolates': 200, 'Swayyan': 1000}

In [156]:
#concatinat
food1.update(food2)

In [157]:
food1

{'samosa': 20,
 'Pakora': 10,
 'Raita': 15,
 'Salaad': 30,
 'Chicken Rolls': 40,
 'Tikki': 30,
 'Dates': 50,
 'Chocolates': 200,
 'Swayyan': 1000}

## 4- Set
- Unordered and Unindexed
- Curly braces is used { }
- No duplicates allowed

In [166]:
s1 = {1,2.2,3,5,"Aammar", "Codenics","Karachi", True}
s1

{1, 2.2, 3, 5, 'Aammar', 'Codenics', 'Karachi'}

In [167]:
s1.add("Aammar")
s1

{1, 2.2, 3, 5, 'Aammar', 'Codenics', 'Karachi'}

In [168]:
len(s1)

7

In [169]:
type(s1)

set

In [170]:
s1.add("Aaamar1")
s1

{1, 2.2, 3, 5, 'Aaamar1', 'Aammar', 'Codenics', 'Karachi'}

In [172]:
s1.remove("Aaamar1")
s1

{1, 2.2, 3, 5, 'Aammar', 'Codenics', 'Karachi'}